<section class="route youth-about">

  <h2>ABOUT THE SUCCESSLINK PROGRAM</h2>

  <div class="about-columns">
    <div class="about-column">
      <p>Mayor Martin J. Walsh & Boston Centers for Youth & Families Division of Youth Engagement & Employment present the SuccessLink Youth Employment Program.</p>
      <p>The City of Boston has partnered with hundreds of community-based nonprofit organizations across the city to provide meaningful workforce development opportunities to thousands of Boston teens ages 15 to 18. Youths can apply for summer work opportunities as camp counselors, administrative assistants, mural painters, theater apprentices, youth organizers, and more.</p>
      <p>This summer, we will be job matching using direct selection and a candidate lottery. The first round of the lottery will begin in April. Each applicant will receive a lottery number after the SuccessLink application period closes.</p>
    </div>

    <div class="about-column">
      <div class="image-placeholder"></div>
    </div>
  </div>

</section>
